// Colors

$gray:				#e1e1e1;
$gray--darker:		#6f6f6f;

$navy:				#2b3688;

$pink:				#df46a4;
$pink--brighter:	#f497c0;

$violet:			#8463bb;
$violet--brighter:	#e3d2ff;
$violet--brightest:	#f49bff;

$color-page-background:	white;
