// Fonts

$arial:				'Arial', sans-serif;
$coalhandluke:		'coalhandluke';
$helvetica:			'Helvetica', sans-serif;


// Font weights

$regular:			400;
$bold:				700;
$light:				300;


// Default

$base-font-size:	18;
$text:				$helvetica;
$grid-base-width:	960;


// RWD
