/*
	Footer
*/

.c-footer {
	height: 170px;
	background-color: $pink--brighter;
	padding: 20px 0;
	
	h2 {
		@include background-size(cover);
		@include opacity(.6);
		width: 228px; height: 74px;
		background-image: url(../img/typo-piekno.png);
		margin: 0 auto;
		overflow: hidden;
		text-indent: -10000px;
	}
}

