.c-popup {
	@include background-size(cover);
	position: relative;
	max-width: 660px;
	background-image: url(../img/blur-2.jpg);
	padding: 60px 10px;
    margin: 40px auto;

	&--myths {
		text-align: center;
		color: white;
		
		h2 {
			margin-bottom: 25px;
			font: {
				family: $coalhandluke;
				size: em(84);
			}
		}

		h3 {
			@include transform(rotate(-2deg));
			position: relative; z-index: 10;
			display: inline-block;
			background-color: white;
		    padding: 20px 30px;
		    line-height: 1;
			font-size: em(55);
			color: #805fb6
		}
		
		.o-btn {
			position: relative; z-index: 5;
			padding: 0 80px;
			font-size: em(42);
			
			&:hover {
				background-color: $violet--brightest;
			}
		}
		
		@media screen and ( max-width: 640px ) {
			h2 {
				font-size: 12.5vw;
			}
			
			h3 {
				font-size: 8.5vw;
			}
			
			.o-btn {
				padding: 0 grid(80, 640);
			}
		}
		
		@media screen and ( max-width: 480px ) {
			padding: {
				top: 40px;
				bottom: 40px;
			}
			
			h2 {
				font-size: 11.5vw;
			}
			
			h3 {
				font-size: 7.5vw;
			}
			
			.o-btn {
				font-size: 6.5vw;
			}

		}
		
	}
}