body {
	@include antialias;
	line-height: 1.4;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $light;
	}
	color: white;
}

a { 
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

strong {
	font-weight: $bold;
}